body {
  margin: 0;
  font-size: 2.5vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*colors
#333333
#D6D8DE
#656565

#2980B9
#2574A9

#7D8187
#27AE60

#7D8187
#239d58

#ce5144
#ce7e44

blue: #45bddf

green: #64d575

red: #ea4c63
orange: #e57155
yellow: #e7c655

e57254

e5c454


525b68
4a525f
*/
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #eeeeee;
}

.Overlay {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
}